.el-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.el-menu-item:not(.is-disabled):hover,
.el-menu-item:not(.is-disabled):focus {
  background: none;
}

#logo {
  width: 100%;
  border-bottom: none;
}

.secondaryHeaderItems {
  display: flex;
}

#menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}